<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Your Tips</title>
    <link href="{{url_for('static', filename='styles/style.css')}}" 
    rel ="stylesheet" />
</head>
<body>
    <div class = "Menu"
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/log-shift">Log Shift</a></li>
            <li><a href="/view-shifts">View Shifts</a></li>
            <li><a href="/analytics">Analytics</a></li>
        </ul>
        <h1>TipAlytics</h1>
        <p>Welcome to TipAlytics, your one one stop shop for shift management!</p>
        
    </div>


    
    
</body>
</html>