body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background: linear-gradient(135deg, #d7eaff 0%,#e3defd 50%, #f9e6ff 100%);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 60px;
}

.page-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.glass-card{
    width: 90%;
    max-width: 550px;
    padding: 40px 35px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur (18px);
    -webkit-backdrop-filter: blur (18px) ;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    animation: FadeIn 1s ease-in-out;
}

.glass-card h1{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    color: #222;
}

.glass-card p{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    color: #222;
}

h2, h3, h4 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    color: #222;
}

label {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

input, select{
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(6px);
    font-size: 15px;
    transition: 0.2s ease;
}

input:focus, select:focus{
    outline: none;
    border-color: #6a4cff;
    box-shadow: 0 0 6px rgba(106, 76, 255, 0.5);

} 

button{
    width: 100%;
    padding: 14px;
    margin-top: 30px;
    border: none;
    border-radius: 20px;

    background: linear-gradient(135deg,#6a4cff, #8a66ff);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s ease;
}

button:hover{
    transform: scale(1.03);
    box-shadow: 0 6px 20px rgba(106, 76, 255, 0.5);

}

@keyframes fadeIn {
    from { opacity: 0; tranfrom: translateY(25px); }
    to { opacity: 1; transform: translateY(0px); }
}









